<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="value.my.board.infra.BoardMapper">

    <select id="getList" resultType="value.my.board.BoardDTO">
        select ID
            , TITLE
            , B.CONTENT CONTENT
            , B.AUTHOR_ID AUTHOR_ID
            , B.CREATE_DATETIME CREATE_DATETIME
            , COUNT(R.REPLY_ID) AS REPLY_COUNTS
		 from board b 
		 left outer join reply r 
		 on b.id = r.BOARD_ID
		 group by b.id, b.title, b.content, b.author_id, b.CREATE_DATETIME
    </select>
    
    <select id="getId" parameterType = "int" resultType="value.my.board.BoardDTO">
        SELECT        
              ID
			, TITLE
            , CONTENT
            , AUTHOR_ID
            , CREATE_DATETIME 
        FROM 
            BOARD
        WHERE 
        	ID = #{id}
    </select>
    
     <insert id="createBoard" parameterType ="value.my.board.BoardDTO">
        INSERT INTO BOARD(TITLE,CONTENT,AUTHOR_ID,CREATE_DATETIME)
        VALUES(#{title},#{content},#{authorId},#{createDatetime})
    </insert>
    
    <update id="updateBoard" parameterType ="value.my.board.BoardDTO">
        UPDATE
            BOARD
        SET 
        	TITLE = #{title}
        	,CONTENT = #{content}
        	,UPDATE_DATETIME = #{updateDatetime}
        WHERE 
        	ID = #{id}
    </update>
    
    <delete id="deleteBoard" parameterType ="int">
        DELETE FROM BOARD
        WHERE 
        	ID = #{id}
    </delete>
    
</mapper>
